body {
  color: #333;
  background: #fff;
  margin: 80px auto;
}

table {
  width: 100%;
}

.burger {
  display: none;
}

.friends-table th{
  cursor: pointer;
}

.friends-table th::after {
  margin-left: 8px;
  font-size: 50%;
  vertical-align: 2px;
}

.friends-table th.sort-asc::after {
  content: '▲';
}

.friends-table th.sort-desc::after {
  content: '▼';
}

.friend-profile {
  text-align: left;
}

.friend-profile img {
  float: left;
  margin: 0em 2em 1em 1em;
}

.friend-profile-links li {
  padding-right: 20px;
}