<nav>
	{{link-to 'Borrowers' 'index' class='brand'}}

	{{!-- responsive --}}
	<input id="bmenub" class="show" type="checkbox">
	<label for="bmenub" class="burger pseudo button">☰</label>
	{{!-- /responsive --}}

	<div class="menu">
		{{link-to 'Dashboard' 'index' class='pseudo button icon-gauge'}}
		{{link-to 'Friends' 'friends' class='pseudo button icon-users-1'}}
		{{link-to 'New Friend' 'friends.new' class='pseudo button icon-user-add'}}
	</div>

</nav>